* {
  margin: 0px;
}

body {
  background-color: rgb(241, 240, 234);
  font-family: 'Segoe UI';
}

header {
  width: 100%;
  height: 60px;
  background-color: #24292d;
}

h1 {
  padding-left: 30px;
  padding-top: 10px;
  font-size: 30px;
  color: white;
}

h2 {
  margin-bottom: 10px;
  padding-right: 310px;
  font-size: 30px;
  color: #24292d;
}

.main {
  text-align: center;
  padding: 25px;
}

#input {
  width: 450px;
  height: 25px;
  font-size: 15px;
}

#button {
  margin-left: 11px;
  height: 30px;
  width: 60px;
  cursor: pointer;
  background: #24292d;
  color: white;
  border: #24292d;
  font-weight: bold;
  border-radius: 5px;
}

#button:hover {
  background: white;
  color: #24292d;
  border: 1px solid #24292d;
}

#tasks {
  margin-left: 387px;
  margin-top: 15px;
  width: 540px;
  height: 400px;
  background-color: white;
  border: 1px dotted #2d2d2e;
  border-radius: 8px;
  overflow-y: scroll;
}

.task {
  margin: 7px 10px;
  height: 45px;
  max-height: 100px;
  background-color: rgb(241, 240, 234);
  border-radius: 5px;
}

.check {
  float: left;
  padding: 12px 8px;
}

input[type="checkbox"] {
  width: 21px; 
  height: 21px; 
}

.delete {
  float: right;
  padding: 10px;
}

input[type="image"] {
  width: 23px; 
  height: 23px;
}

input[type="image"]:hover {
  width: 26px; 
  height: 26px;
}

.task p {
  float: left;
  padding-top: 10px;
}